# Ignore node_modules folder
node_modules/

# Ignore npm debug logs
npm-debug.log*

# Ignore Yarn debug logs
yarn-debug.log*
yarn-error.log*

# Ignore environment variables file
.env

# Ignore build output
dist/
build/

# Ignore temporary files
*.tmp
*.log
# Local Netlify folder
.netlify
